.logo:hover{
  opacity:0.75;
}

.btn-primary:hover{
  background-color: #0d6efd !important;
  opacity: 0.75;
}

navbar-toggler-icon{
  color:white !important;
}

::ng-deep .mat-badge-content {
  background-color: red !important; /* Changes the badge color to red */
  color:white !important;
  top: 5px !important;
  left:77px !important;
  height: 20px !important;
  width: 20px !important;
  line-height: 20px !important;
  border-radius: 50% !important;
}
