:host {
  display: flex;
  overflow: hidden !important;
  height: 100vh !important;
  width: 100vw;
}

main {
  overflow-y: hidden !important;
  height: calc(100vh - 100px); 
}


.btn:hover{
  opacity: 1;
  transition: 0.4s linear;
  transform:scale(1);
  background-color: rgb(214, 214, 214) !important;
}

.btn{
  color:#0d6efd;
}


